/*Display left border on the left-side tree menu if screen resolution is larger then MD screen */
@media (min-width: 992px) {
    .left-nav-menu {
        border-right: 1px solid #e7e7e7;
    }
}

/*For navbar - header in the application*/
.header {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*For footer container*/
.footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*For footer content*/
.footer-content {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

/*Removes default bootstrap bottom margin in the menu header */
/*Also styles background and borders of header nav menu */
.header > .navbar {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    border: none;
    border-bottom: 1px solid #e7e7e7;
}

/*For very small screen resolutions we want to have padding on the left. We need left-padding cause we have navigation
items border on the left */
.header > .navbar > .navbar-collapse {
    padding-left: 4px;
}

/*For larger screen resolutions we don't need padding */
@media (min-width: 768px) {
    .header > .navbar > .navbar-collapse {
        padding-left: 0px;
    }
}

/*Style is applied to all header menu navigation items (this style shouldn't touch logout button and next
 that we have on the right of header menu) */
.header > .navbar .navbar-nav {
    font-size: 12pt;
    margin: 0px;
}

/*Styling active header menu items */
.header > .navbar .navbar-nav > .active > a, .header > .navbar .navbar-nav > .active > a:hover {
    color: orange;
    background-color: white;

}

/*Style for active menu item. This is a default style for active menu item - it will be overridden by different
style if screen resolution is large enough*/
.header > .navbar .navbar-nav > .active > a, .header > .navbar .navbar-nav > .active > a:hover {
    border-left: 4px solid orange;
    margin-left: -4px;
}

/*If screen resolution is large enough - draw bottom border of active top menu item
Using media query this style will override the default one (the default one can only be applied to small resolutions) */
@media (min-width: 768px) {
    .header > .navbar .navbar-nav > .active > a, .header > .navbar .navbar-nav > .active > a:hover {
        border-left: none;
        margin-left: 0px;
        border-bottom: 4px solid orange;
        margin-bottom: -4px;
    }
}

/*Styling hover effect of non-active header menu items. (Default style that will be overridden depending on screen
resolution) */
.header > .navbar .navbar-nav > li > a:hover {
    border-left: 4px solid #dddddd;
    margin-left: -4px;
}

/*If screen resolution is large enough - draw bottom border of hovered top menu items */
@media (min-width: 768px) {
    .header > .navbar .navbar-nav > li > a:hover {
        border-left: none;
        margin-left: 0px;
        border-bottom: 4px solid #dddddd;
        margin-bottom: -4px;
    }
}

/*For  links in the footer*/
.footer-link, .footer-link:hover {
    color: #555555;
}

/*For  links in the footer*/
.footer-link:hover {
    text-decoration: underline;
}

/*For  logout header: user name, practice name, logout button*/
.logout-header {
    line-height: 1;
    height: 50px;
}

/*Logged user name*/
.username-header  {
    color: #777777;
    font-size: 11pt;
}

/*Logged practice name*/
.practicename-header {
    color: #777777;
    font-size: 10pt;
}

/*For  logout button that is in the header of application*/
.btn-logout, .btn-logout:hover  {
    color: #ffffff;
    background-color: rgb(180,180,180);
    border: none;
    margin-left: 10px;
    font-size: 12pt;
    padding: 3px 10px;
}

.btn-logout:hover, .btn-logout:focus, .btn-logout:active:focus {
    background-color: rgb(160,160,160);
    outline-color: rgb(180,180,180);
}

/*For count items in menus*/
.total-count-badge {
    background-color: rgb(160,160,160);
}

/*For count items in menus*/
.new-count-badge {
    background-color: rgb(102, 170, 85);
    font-size: small;
}

/* For width bootbox static */
@media (min-width: 768px) {
    .bootbox > .modal-dialog {
        width: 400px;
    }
}

/* For all mps bootbox view */
.mps-bootbox {
    margin: -13px -13px 20px;
    color: #FFF;
    text-align: center;
    font-size: 60px;
    padding: 0px;
}

/* For warning bootbox background color */
.mps-warning {
    background-color: #FF9933;
}

/* For error bootbox background color */
.mps-error {
    background-color: #e66454;
}

/* For confirm bootbox background color */
.mps-confirm {
    background-color: #5ebd5e;
}

/* If modal view class is .bootbox then to hidden close button */
.bootbox > .modal-dialog > .modal-content > .modal-body > .bootbox-close-button {
    display: none !important;
}

/* Bootbox button align by center */
.bootbox > .modal-dialog > .modal-content > .modal-footer {
    text-align: center;
}

/* Bootbox text align by center */
.bootbox-body {
    text-align: center;
}

/*Is applied for warning info block to colorize icon and text into necessary color*/
.warning-info {
    color: rgb(119, 119, 119);
    padding-top: 10px;
    padding-bottom: 10px;
    display: table;
}

.warning-info * {
    display: table-cell;
}

.warning-info  > span {
    vertical-align: middle;
}

.total-block {
    text-align: left !important;
    font-weight: bold !important;
}

.total-currency-block {
    text-align: right !important;
    font-weight: bold !important;
}


/*Custom style for nav-tabs */
/*If screen resolution is large enough - draw bottom border of active tab item*/
@media (min-width: 768px) {
    .nav-tabs > .active, .nav-tabs > .active > li:hover, .nav-tabs > .active > li:focus,
    .nav-tabs.nav-justified > .active, .nav-tabs.nav-justified > .active > li:hover, .nav-tabs.nav-justified > .active > li:focus {
        margin-bottom: -3px;
        cursor: default;
        border-bottom: 3px solid #ff9933 !important;
    }

    .nav-tabs > li:hover, .nav-tabs > li:focus,
    .nav-tabs.nav-justified > li:hover, .nav-tabs.nav-justified > li:focus {
        background-color: transparent !important;
        border-bottom: 3px solid #dddddd;
        margin-bottom: -3px;
    }

    .nav-tabs, .nav-tabs.nav-justified {
        border-bottom: 1px solid #dddddd;
    }
}

/*If screen resolution is small  - draw left border of active tab item*/
@media (max-width: 767px) {
    /*Custom style for nav-tabs */
    .nav-tabs > .active, .nav-tabs > .active > li:hover, .nav-tabs > .active > li:focus,
    .nav-tabs.nav-justified > .active, .nav-tabs.nav-justified > .active > li:hover, .nav-tabs.nav-justified > .active > li:focus {
        margin-left: -3px;
        cursor: default;
        border-left: 3px solid #ff9933 !important;
    }

    /*Custom style for nav-tabs */
    .nav-tabs > li:hover, .nav-tabs > li:focus,
    .nav-tabs.nav-justified > li:hover, .nav-tabs.nav-justified > li:focus {
        background-color: transparent !important;
        border-left: 3px solid #dddddd;
        margin-left: -3px;
    }
}

.nav-tabs > .active > a, .nav-tabs > .active > li > a:hover, .nav-tabs > .active > li > a:focus,
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > li > a:hover, .nav-tabs.nav-justified > .active > li > a:focus,
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus,
.nav-tabs.nav-justified > li > a, .nav-tabs.nav-justified > li > a:hover, .nav-tabs.nav-justified > li > a:focus {
    border: none !important;
    background-color: transparent !important;
    color: #000;
    white-space: nowrap;
}

/*Style to be applied for rejected claim lines*/
.rejected-claim-line {
    color: #A94442;
}

/* Tom menu notification item */
.top-menu-count {
    font-size: 9px;
    background-color: rgb(102, 170, 85);
    color: rgb(255, 255, 255);
    float: right;
    margin-top: -53px;
    padding: 2px 5px;
    border-radius: 15px 15px 15px 15px;
}

.header > .navbar .navbar-nav > .active > a, .header > .navbar .navbar-nav > .active > a:hover {
    background-color: transparent !important;
}

.secondary-anchor {
    color: #31708f !important;
}

.secondary-anchor:hover {
    color: #245269  !important;
}

.write-off-recommended {
    color: red !important;
}

.write-off-footer {
    text-align: right !important;
    font-weight: bold !important;
    padding-left: 0 !important;
    color: red !important;
}

.red-text {
    color: red !important;
}
